<div class="card bg-dark text-white">
  <img class="card-img " src="https://www.sterkinekor.com/sites/default/files/2020-03/Onward_FeatureBanner1920x640Desktop.jpg" alt="">
  <div class="card-img-overlay" style="margin-top: 7%!important;">
      <img src="https://www.sterkinekor.com/sites/default/files/2020-03/IMAXLogo_%C2%AE_smaller_285.png"   class="imageSize">
    <h1 class="card-title fontSize">SEE THIS INSPIRING MAGICAL ADVENTURE</h1>
    <h3 class="card-text">NOW SHOWING</h3>
  </div>
</div>
