<div class="row">
  <div class="col-md-8" >

    <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search for a movie"
    style="background-color: #212326 !important; color: gray !important; border: none !important; margin-top: 30px; height: 80px; border-radius: 3px; display: block;
    margin-left: auto;
    margin-right: auto; text-align:left; font-size: 2.233em; width: 870px; padding-left: 15px; font-family: Montserrat,sans-serif;"/> 
    <ul class="search-result">
      <li *ngFor="let hero of movies$ | async" >
        <a routerLink="/detail/{{hero.Title}}" style="color: white;">
          {{hero.Title}}
        </a>
      </li>
      <a routerLink="/detail/1" style="color: white;">
        ddd
      </a>
    </ul>
  </div>
</div>

    
